nav{
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: white;
}

.vertical-line{
    border-left: 2px solid #f2f2f2;
    height: 60px;
}

.nav-delivery>h5{
    font-weight: 900;
    margin-top: 10px;
}
.nav-delivery>p{
    font-size: 13px;
}
#my-nav-search{
    background-color: #f8f8f8;
    border-radius: 10px;
    border:1px solid #f2f2f2; ;
    padding-inline: 10px;
}

#my-nav-search>input{
    border: none;
    width: 40vw;
    height:50px;
    background-color: transparent;
}

.my-cart-btn{
    border-radius: 10px !important;
    font-weight: 600 !important;
}
#categories-1{
    display: flex;
    flex-wrap: wrap;
    padding-inline: 6.5vw;
    justify-content: space-around;
    margin-bottom:50px;
}

.scroll-container{
    width: 85vw;
    margin: auto;
    margin-bottom:50px ;
}
.list{
    white-space:nowrap;
    overflow-x: scroll;
}

.list::-webkit-scrollbar {
    display: none;
}

.list>img{
    display: inline-block;
    margin: 10px;
}
.category{
    width: 85vw;
    margin: auto;
    margin-bottom:100px;
}

.my-card{
    display: inline-block !important;
    width: 220px;
    box-sizing: border-box;
    border-radius: 15px !important;
    white-space: wrap;
    margin-inline: 10px;
}
.my-card>img{
    display: inline-block;
    margin: auto;
}

.time{
    background-color: #f2f2f2;
    font-weight: 700;
    font-size: 9px;
    color: rgb(54, 54, 54);
    width: fit-content;
    padding: 3px;
    border-radius: 5px;
}

.product__weight{
    font-size: 13px;
    color: #666666;
}
.row-3>p{
    margin: 0px;
}

.zig-zag{
   position: relative;
   bottom: -13px;
   font-size: 16px;
   color: #528cee;
}


.my-tag{
    position: absolute;
    top: 0px;
    left:20px;
    width: 40px;
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 13px;
    background-color: #528cee;
}

footer{
    width: 85vw;
    margin: auto;
}


#my-footer-row-3{
    font-size: 15px;
    text-align: justify;
    color: #666666;
}


#my-footer-row-2{
    font-size: 13px;
    text-align: justify;
    color: #666666;
    display: flex;
   margin-top: 20px;
   margin-bottom: 20px;
}
#footer__row__2__col1{
    flex:1;
    padding-inline:10px;
   
}
#footer__row__2__col2{
    flex:1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#footer__row__2__col1>h6{
    color: #666666;
}
.some-box{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    text-align: center;
    background-color: #213a50;
}

#footer__row__2__col3{
    flex:1;
    display: flex;
    justify-content: space-between;
}

.social-icon{
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
}
.social-icon:hover{
    color: black;
    background-color: #f8cb45;
    box-shadow: 3px 3px 15px black;
}
.footer{
    background-color:white;
    color:black;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

#my-footer-row-1{
    display: flex;
    margin-top: 30px;
}


#footer__table__1{
    flex: 2;
    width: 100%;
}
#footer__table__2{
    flex: 3;
    
}

table{
    width: 100%;
}
td{
    color: #666666;
    line-height: 30px;
}
td:hover{
    line-height: 30px;
    text-decoration: underline;
    cursor: pointer;
    color: red;
}


@media screen and (max-width:480px){
    #hero-section{
        display: none !important;
    }
    nav,#my-footer-row-1{
        flex-direction: column !important;
        align-items: center !important;
        margin: auto;
    }
    #my-footer-row-2,#footer__table__1,#footer__table__2,#footer__row__2__col2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    td{
        padding-inline: 12px;
        text-align: center;
        font-size: 12px;
    }
    .some-box{
        margin-top: 10px;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        ma
    }
    #footer__row__2__col3{
        justify-content: space-between;
        width: 90vw;
        margin: auto;
        margin-top: 10px;
    }
    .vertical-line{
        display: none;
    }
    #my-nav-search{
        width: 90vw;
    }
    nav{
        padding-top: 20px;
        padding-bottom: 20px;
        position: static;
    }
}
@media screen and (max-width:820px){
    
    #hero-section{
        width: 50vw;
    }
    nav,#my-footer-row-1{
        flex-direction: column !important;
        align-items: center !important;
        margin: auto;
    }
    #my-footer-row-2,#footer__table__1,#footer__table__2,#footer__row__2__col2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    td{
        padding-inline: 12px;
        text-align: center;
        font-size: 12px;
    }
    .some-box{
        margin-top: 10px;
    }
    #footer__row__2__col3{
        justify-content: space-between;
        width: 90vw;
        margin: auto;
        margin-top: 10px;
    }
    .vertical-line{
        display: none;
    }
    #my-nav-search{
        width: 90vw;
    }
    nav{
        padding-top: 20px;
        padding-bottom: 20px;
        position: static;
    }
}